@import 'fonts';
@import 'colors';
@import 'dimensions';
@import 'lightbox';
@import 'header';
@import 'slider';
@import 'highlighted';
@import 'products';
@import 'footer';

body {
	font-family: $font-medium;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100vh;
}

.hidden {
	display: none;
}

.backgroundColorNavebar {
	background-color: $dark;
}
