@import 'fonts';
@import 'colors';
@import 'dimensions';
@import 'lightbox';
@import 'header';
@import 'footer';

body {
	font-family: $font-medium;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
}

.hidden {
	display: none;
}

.backgroundColorNavebar {
	background-color: $dark;
}

.navFullScreen {
	position: absolute;
	z-index: -1;
}
